<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WWW App/ Add dir</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
    <h1>Frama app add new directory</h1>

    <form action="/new_file" method="post" enctype="multipart/form-data">
        <input type="text" name="name" placeholder="File name" required>
        <input type="text" name="description" placeholder="Optional description">
        <label for="add-folder-select">Choose a folder</label>
        <select id="add-folder-select" name="parent_dir">
        <% for (let i = 0; i < dirs.length; ++i) { %>
            <option value=<%= dirs[i].name %>><%= dirs[i].name %>  </option>
        <% } %> 
        </select>
        <input type="file" name="file" accept=".c" required>
        <input type="submit" value="Add file">
    </form>
    <%_ if(error) { _%>
        <p> Such file within given folder already exists!</p>
    <%_ } _%> 
</body>